.stuides-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 50em;
    border-top: 1px solid #938f8f6b;
    border-bottom: 1px solid #938f8f6b;

}


.title-container-studies{
    /* border: 1px solid white; */
    width: 50%;
    padding: 2em;
}

.title-studies-box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title-studies-box a{
    font-weight: 100;
}

.title-container-studies p{
    border-bottom: 1px solid #938f8f6b;
    width: 80%;
    font-weight: 200;
    padding-bottom: 1em;

}

.code-icon-studies{
    font-size: 3em;
    margin-bottom: .3em;
}


.title-container-studies h2{
    font-weight: 300;
    font-size: 2em;
    background: #6df2a4;
background: linear-gradient(to right, #6df2a4 0%, #7E9FE3 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#button-renegade-studies{
    
    width: 10em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:none;
    font-weight: 100;
}

.studies-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45em;
    height: 36em;
    border-radius: 10px;
    background: rgb(109,242,164);
background: linear-gradient(90deg, rgba(109,242,164,1) 0%, rgba(126,159,226,1) 100%);
}

.second{
    text-decoration: none;
}





.img-container{
    width: 25em;
    height: 20em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 2px solid #fffd06;
    border-radius: 10px;
}

.img-container img{
    width: 100%;
}

  @media screen and (max-width:1100px ){
    .stuides-container{
    width:90%;
    min-height: 65em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    }

    .title-container-studies{
        width: 100%;
        
        
    }

    .title-container-studies p{
        width: 100%;
    }

    .studies-box{
        width: 100%;
        height: 35em;
        margin-left: 1.5em;
    }

    .title-studies-container h2{
        font-size: 1.5em;
    }
  }