.footer-c-container{
/* border: 1px solid white; */
border-top: 1px solid #938f8f6b;
width: 90%;
display: flex;
align-items: center;
justify-content: space-around;
height: 100%;


color: #938f8f6b;
}

.redes{
    
    display: flex;
    align-items: flex-start;
    color: #938f8f6b;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 1em;
    margin-left: -1.7em;
}

.redes a{
    color: #938f8f6b;

}

.message-box{
    
    display: flex;
    width: 30%;
    height: 20em;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.message-box input{
    width: 70%;
    padding: .9em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #938f8f6b;
    color:#938f8f6b;
    font-family: Inter;

}

.message-box textarea{
    width: 70%;
    height: 5em;
    padding: .9em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #938f8f6b;
    color:#938f8f6b;
    font-family: 'Inter', sans-serif;
}

.message-box button{
    background-color: transparent;
    color: #938f8f6b;
    font-size: 1em;
    color:#938f8f6b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    border: none;
}

.message-box button:hover{
    cursor: pointer;
}

.message-box:hover .arrow-one{
    margin-left: 2em;
    transition: 1s ease;
}



@media screen and (max-width:650px ){
    .footer-c-container{
        flex-direction: column;
        height: 150%;
    }

    .redes{
        width: 100%;

    }
    .message-box{
        width: 80%;
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }

    .message-box input{
        margin-top: 1em;
        width: 100%;
        
    }

    .message-box textarea{
        margin-top:1em ;
        margin-bottom:1em ;
        width: 100%;

    }

    .message-box button{
        margin-bottom: 2em;
    }
}
